@import "../../../css-config/mixins.scss";

.sub-instagram{
    background-color: #D8CDCE;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0 auto;
    margin-bottom: 2%;
    .text{
        text-align: center;
        font-size: 20px;
    }
}